:root {
    --color-dark: #000000;
    --color-light: #ffffff;


}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    background-color: var(--color-dark);
    color: var(--color-light);
    letter-spacing: .05rem;
}

.lead-xl {
    font-size: 1.75rem;
}

.bg-dark {
    background-color: #000000 !important;
}

.nav-link {
    margin-left: 2rem;
}

.sideways {
    writing-mode: vertical-lr;
    display: block;
    margin: 3.5rem 0;
}

.topmargin-xs {
    margin-top: 15px !important;
}

.topmargin-sm {
    margin-top: 30px !important;
}

.topmargin-lg {
    margin-top: 60px !important;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid var(--color-light);
    border-radius: 0;
    color: var(--color-light);
    padding: .7rem 2.5rem;
    font-size: 1.25rem;
}

.btn-primary:hover {
    background-color: var(--color-light);
    color: var(--color-dark);
    border: 1px solid var(--color-light);
}

.form-control {
    font-size: 14px;
    border: 1px solid #59595B;
    padding: 15px;
    border-radius: 2px;
    height: auto;
}

.form-control:focus {
    border: 1px solid #000000;
    outline: none;
    box-shadow: none;
}

.navbar {
    min-height: 5rem;
}

.carrousel-inner {
    max-height: 50;
}

.border-right {
    border-right: 1px solid rgba(256, 256, 256, .1) !important;
}

#footer {
    padding: 8opx 0;
    text-align: center;
    color: #ffffff;
}

#footer a {
    color: #ffffff;
}

#footer a:hover {
    color: #ffffff;
}

#footer .list-inline .list-inline-item {
    padding: 10px 15px;
}



@media (max-width: 991.98px) {
    .content {
        padding: 5rem 0;
    }
}

@media (max-width: 1199.98px) {
    .sideways {
        margin: 2rem 0;
    }

    .lead-xl {
        font-size: 1.25rem;
    }
}